body{
    margin: 0%;
    border-top: 2vh solid rgba(169, 169, 169, 0.2);
    border-left:50vh solid rgba(169, 169, 169, 0.2);
    border-right:50vh solid rgba(169, 169, 169, 0.2);
    border-bottom: 5vh solid rgba(169, 169, 169, 0.2);
    padding-bottom: 100vh;
}


.university{
    display: flex;
    flex-direction: column;
    text-align-last: right;
    padding-right: 10px;
    padding-top: 10px;
}


